.Parent01 {
    display: flex;
    padding: 20px;
    flex-direction: row;
}

.child1 {
    padding: 15px;
    width: 50%;
    height: 100vh;
    text-align: left;
    align-items: center;
    color: #F5BB43;
}
.child3{
    padding: 15px;
    width: 50%;
    height: 100vh;
    text-align: left;
    
}
.child2 {
    width: 50%;
    
    height: 100vh;
}
.small_header{
    padding-top: 55px;
    font-weight: 400;
    color: grey;
    font-family: 'Red Hat Display Bold', sans-serif;
    font-size: 14px;
}
.slogan {
    padding-top: 55px;
    font-weight: 700;
    font-family: 'Red Hat Display Bold', sans-serif;
    font-size: 54px;
  }
  .slogan_header {
    padding-bottom: 10px;
    font-weight: 700;
    font-family: 'Red Hat Display Bold', sans-serif;
    font-size: 30px;
    color: black;
}
  .slogan00 {
    padding-bottom: 10px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
}
.btn1{
  background-color: #F54358;
  color: white;
  border-radius: 30px;
  border: 0px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  padding: 15px 60px;
  margin: 15px 0px;
  cursor: pointer;
}
.btn1 a {
    text-decoration: none;
    color: black;
}